<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de: Michael Martinez</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Prompt:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="profile-resume detail">
            <img src="../img/profile.jpg" class="profile" alt="Profile">
            <h1>Michael Martinez</h1>
            <div class="country">Colombia - Bogotá</div>

<div class="cv">
    <h2>About Me</h2>
    <p class="bio">La de la foto es mi hija! Victoria.</p>
    <div class="exper">
        <h2>Experience</h2>
        <div class="item">
            <h3 class="title">Blue Pocket</h3>
            <p class="data-time">CEO <span class="date">dic 2019 - Actualmente</span></p>
        </div>
        <div class="item">
            <h3 class="title">Arepa Technology</h3>
            <p class="data-time">CEO <span class="date">may 2019 - oct 2019</span></p>
        </div>
        <div class="item">
            <h3 class="title">Agencia Mouse Interactivo</h3>
            <p class="data-time">COO <span class="date">abr 2015 - feb 2017</span></p>
        </div>
        <div class="item">
            <h3 class="title">Agencia de Publicidad MM</h3>
            <p class="data-time">Diseñador UI/UX <span class="date">ene 2015 - dic 2018</span></p>
        </div>
        <div class="item">
            <p class="data-time">Otros...</p>
        </div>

    </div>
</div>

            <div class="links">
                <a href="../index.html">Regresar</a>
                <a href="https://github.com/mi-martinez/Digital-House" class="github">GittHub</a>
            </div>

            <div class="social">
                <a href="http://"><img src="" alt=""></a>
            </div>
        </div>
    </main>
</body>
</html>